name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Options
          user: DenIrkhin
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Montreal
          
          # Trophies
          plugin_trophies: yes
          plugin_trophies_icons: github
          plugin_trophies_secrets: yes
          plugin_trophies_display: compact

          # Languages
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_analysis_timeout: 15
          
          # Calendar (Contribution streak is conceptually similar or we can use isocalendar)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
